@font-face {
    font-family: 'GodOfWar';
    font-style: normal;
    font-display: swap;
    src: url(../public/fonts/GODOFWAR.TTF)
}
body {
    background-color: #a3a3a3;
    background-image: url(../public/images/noise.png);
}
html {
    scroll-behavior: smooth;
}